<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User List</title>
  <!-- CSS -->
  <%- include(`${ejsRoot}/inc/stylesheets`); %>

  <% current = 'users' %>
</head>

<body>

  <header>
    <%- include(`${ejsRoot}/inc/admin-navigation`); %>
  </header>

  <main role="main">

    <%- include(`${ejsRoot}/inc/jumbotron`); %>

    <div class="container">

      <div class="float-right mb-3">
        <form action="<%= baseUrl %>/admin/usersearch" method="post" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="사용자 이름을 입력해 주세요." aria-label="Search"
            name="uname">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">검색</button>
        </form>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">아이디</th>
            <th scope="col">이름</th>
            <th scope="col">연락처</th>
            <th scope="col">이메일</th>
            <th scope="col">가입일</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < rows.length; i++){ %>
          <tr onclick="window.location.href='<%= baseUrl %>/admin/userdetail/<%- rows[i].uid %>'">
            <th scope="row"><%- rows[i].uid %></th>
            <td><%- rows[i].uname %></td>
            <td><%- rows[i].tel %></td>
            <td><%- rows[i].email %></td>
            <td><%- rows[i].regDate %></td>
          </tr>
          <% } %>
        </tbody>
      </table>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="javascript:void(0);" tabindex="-1" aria-disabled="true">이전</a>
          </li>
          <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
          <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
          <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
          <li class="page-item">
            <a class="page-link" href="javascript:void(0);">다음</a>
          </li>
        </ul>
      </nav>
    </div>

  </main><!-- /.container -->

  <footer class="footer">
    <%- include(`${ejsRoot}/inc/copyright`); %>
  </footer>

  <!-- SCRIPT -->
  <%- include(`${ejsRoot}/inc/scripts`); %>
</body>

</html>