<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NodeJS</title>

  <!-- CSS -->
  <%- include(`${ejsRoot}/inc/stylesheets`); %>
</head>

<body>

  <header>
    <%- include(`${ejsRoot}/inc/navigation`); %>
  </header>

  <main role="main">

    <%- include(`${ejsRoot}/inc/jumbotron`); %>

    <h1>NodeJS</h1>

  </main><!-- /.container -->

  <footer class="footer">
    <%- include(`${ejsRoot}/inc/copyright`); %>
  </footer>

  <!-- SCRIPT -->
  <%- include(`${ejsRoot}/inc/scripts`); %>
</body>

</html>