<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NodeJS</title>

  <!-- CSS -->
  <%- include(`${ejsRoot}/inc/stylesheets`); %>
</head>

<body>

  <header>
    <%- include(`${ejsRoot}/inc/navigation`); %>
  </header>

  <main role="main">

    <%- include(`${ejsRoot}/inc/jumbotron`); %>

    <div class="container">
      <form action="<%= baseUrl %>/signin" method="post" class="form-signin" style="margin:0 auto;max-width:480px;">

        <h1 class="h3 mb-3 font-weight-normal">로그인</h1>

        <div class="mb-2">
          <label for="uid" class="sr-only">아이디</label>
          <input type="text" id="uid" name="uid" class="form-control" placeholder="아이디" required autofocus>
        </div>

        <div class="mb-2">
          <label for="pwd" class="sr-only">비밀번호</label>
          <input type="password" id="pwd" name="pwd" class="form-control" placeholder="비밀번호" required>
        </div>

        <% if (rows.isErr === true) { %>
        <div class="alert alert-danger mb-2" role="alert">
          <% if (rows.err === 'uid') { %>
          아이디가 존재하지 않습니다.
          <% } else if (rows.err === 'pwd') { %>
          비밀번호가 동일하지 않습니다.
          <% } %>
        </div>
        <% } %>

        <div class="row">
          <div class="col-6">
            <button class="btn btn-md btn-primary btn-block" type="submit">로그인</button>
          </div>
          <div class="col-6">
            <button class="btn btn-md btn-primary btn-block" type="button"
              onclick="window.location.href='/signup';">회원가입</button>
          </div>
        </div>

      </form>
    </div>

  </main><!-- /.container -->

  <footer class="footer">
    <%- include(`${ejsRoot}/inc/copyright`); %>
  </footer>

  <!-- SCRIPT -->
  <%- include(`${ejsRoot}/inc/scripts`); %>
</body>

</html>