<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup | Nodejs</title>

  <!-- CSS -->
  <%- include(`${ejsRoot}/inc/stylesheets`); %>
</head>

<body>

  <header>
    <%- include(`${ejsRoot}/inc/navigation`); %>
  </header>

  <main role="main">

    <%- include(`${ejsRoot}/inc/jumbotron`); %>

    <div class="container">
      <form action="<%= baseUrl %>/signup" method="post" class="form-signin" style="margin:0 auto;max-width:480px;">

        <h1 class="h3 mb-3 font-weight-normal">회원가입</h1>

        <div class="mb-2">
          <label for="uid" class="sr-only">아이디</label>
          <input type="text" id="uid" name="uid" class="form-control" placeholder="아이디" required autofocus>
        </div>

        <div class="mb-2">
          <label for="uname" class="sr-only">이름</label>
          <input type="text" id="uname" name="uname" class="form-control" placeholder="이름">
        </div>

        <div class="mb-2">
          <label for="pwd" class="sr-only">비밀번호</label>
          <input type="password" id="pwd" name="pwd" class="form-control" placeholder="비밀번호" required>
        </div>

        <div class="mb-2">
          <label for="tel" class="sr-only">전화번호</label>
          <input type="text" id="tel" name="tel" class="form-control" placeholder="전화번호">
        </div>

        <div class="mb-2">
          <label for="email" class="sr-only">이메일</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="이메일">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">썸네일</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="photo" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="photo">파일을 선택 해주세요.</label>
          </div>
        </div>

        <% if (rows.isErr === true) { %>
        <div class="alert alert-danger mb-2" role="alert">
          <% if (rows.err === 'uid') { %>
          사용할 수 없는 아이디 입니다.
          <% } %>
        </div>
        <% } %>

        <div class="row">
          <div class="col-6">
            <button class="btn btn-md btn-primary btn-block" type="button" onclick="window.history.back(-1)">취소</button>
          </div>
          <div class="col-6">
            <button class="btn btn-md btn-primary btn-block" type="submit">저장</button>
          </div>
        </div>

      </form>
    </div>

  </main><!-- /.container -->

  <footer class="footer">
    <%- include(`${ejsRoot}/inc/copyright`); %>
  </footer>

  <!-- SCRIPT -->
  <%- include(`${ejsRoot}/inc/scripts`); %>
</body>

</html>